body, html {
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
}

nav {
    border-bottom: 5px solid #1da548;
}
.navbar-brand {
    font-family: 'Righteous', cursive;
    font-size: 1.8rem;
    font-weight: 600;
}

nav .btn {
    background-color: #1da548;
    color: white;
    border-radius: 20px;
    font-weight: 500;
}

.nav-link {
    font-weight: 600;
}

.btn:hover {
    color: white;
}

.jumbotron {
    background-image: url(../img/bg2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    border-radius: 0rem;
    font-size: 3rem;
    color: white;
    font-weight: 500;
}

.jumbotron .container {
    padding-top: 2rem;
}
